html { 
  background: url(snow.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#haiku {
    display: block;
    width: 500px;
    height: 150px;
    margin: 10% auto;
    border: 2px solid;
    border-color: #E0E0ff;
    box-shadow: 5px 8px 3px #888888;
    background-color: #F0F0FA
}

#finalText {
    position: relative;
    font-family: cursive;
    font-size: 1.7em;
    display: block;
    width: 480px;
    height: 130px;
    margin: 10px auto;

}

#formText {
    font-family: fantasy;
}
