html { 
  background: url(snow.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#haiku {
/* 
    position: absolute;
    top: 30%;
    left: 25%;
 */
    display: block;
    width: 450px;
    height: 150px;
    margin: 10% auto;
    border: 5px ridge;
/*     box-shadow: 5px 8px 3px #888888; */
    background-color: #F5F5FA
}

#finalText {
    position: relative;
/* 
    top: 20px;
    left: 40px;
 */
    font-family: 'Ovo', serif;
    font-size: 2em;
    display: block;
    width: 400px;
    height: 130px;
    margin: 15px auto;

}
